%footer.footer
  .container
    .row
      .span6
        Built at #{link_to"Atamai Village", "http://www.atamai.co.nz"} by #{link_to "Craig Ambrose", "http://www.craigambrose.com"}<br />
        Copyright &copy; Craig Ambrose 2011
      .span10.licence
        %a.pull-right{:rel => 'licence', :href => 'http://creativecommons.org/licenses/by-sa/3.0/'}
          = image_tag 'http://i.creativecommons.org/l/by-sa/3.0/88x31.png', :alt => 'Creative Commons License'
        %p
          All publicly visible text on this project, including plant database, is
          licensed under a
          %a{:rel => 'licence', :href => 'http://creativecommons.org/licenses/by-sa/3.0/'} Creative Commons Attribution-ShareAlike 3.0 Unported License.
      
= javascript_include_tag "application"
= yield :scripts