!!!
%html{:lang => "en"}
  %head
    = render :partial => 'layouts/head'
  %body
    = render :partial => 'layouts/topbar'
    = render :partial => 'layouts/notice'
    .container-fluid
      .row-fluid
        = render :partial => 'layouts/sidebar'
        .span9
          = yield

    = render :partial => 'layouts/footer'
